body {
	@background-image: url(images/reunion.jpg);
	@background-repeat: no-repeat;
	background-color: 	#4e4e4e;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	margin:0px;
}

/*boite menu */
#menu{
	box-shadow: inset 0px 0px 55px 8px rgba(0, 0, 0, 1);

}

/*IMG BANNIERE*/
#ban {
	width:100%;
	height: inherit;
	
	
}

/*DIV BANNIERE*/

#baniere{
	width: auto;
	height: 316px;
	
}

/*CONTAINER*/
#container{
	width: 60%;
	margin: auto;
	padding: 20px;
	box-shadow:		inset 0px 0px 0px black
	
}

/*________________DEBUT____MENU_____NAV____*/
ul {

    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1c3500;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:	absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

/*______________FIN______MENU______*/


/*HEADER*/

header{
	border: 1px dashed black;
}

/*____________ARTICLE_________CONTAINER */
#article{
	margin: 3% 10% 3% 10%;
	border: 6px inset black;
	height: auto;
	background-attachment: scroll;
	background-color:rgba(255, 255, 255, 0.18);
}

#mainimg {
	width: 50%;
	height: auto;
	margin: 1% 25% 1% 25%;
}


#main h1{
	text-align: center;
	margin: 21px 0px 30px 0px
}

#main p {
	text-align: center;
	margin: 40px 0px 63px 0px;
}

/*FIN ARTICLE*/


/*Footer*/
footer{
	
	border: 2px double white;	
	height: 20px;
	margin : 3% 0px 0px 0px;

}

.contact{
	text-align: center;
	margin: 0px;
	
}