body {
	background-image: url(images/reunion.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	
}

#menu{
	box-shadow: inset 0px 0px 55px 8px rgba(0, 0, 0, 1)
}


img {
	
	width:100%;
	height: auto;
}


#baniere{
	width: auto;page_1.html
	height: 110px;
	padding: ;
}


#container{
	width: 60%;
	margin: auto;
	padding: 20px;
	box-shadow:		inset 0px 0px 0px black
	
}

ul {

    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    @background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1c3500;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:	absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
header h1{
	text-align: center;
